.btn {
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    min-width: 40px;
    min-height: 40px;
    filter: brightness(0);
    color: black;
}

.btn-light {
    filter: brightness(2);
    color: white;
}

.btn:focus {
    background-color: #333333;
}

.btn-back {
    background-image: url(/usr/share/icons/suru/actions/scalable/previous.svg)
}

.btn-add {
    background-image: url(/usr/share/icons/suru/actions/scalable/add.svg)
}

.btn-edit {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit.svg)
}

.btn-settings {
    background-image: url(/usr/share/icons/suru/actions/scalable/settings.svg)
}

.btn-find {
    background-image: url(/usr/share/icons/suru/actions/scalable/find.svg)
}

.btn-delete {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-delete.svg)
}

.btn-sort {
    background-image: url(/usr/share/icons/suru/actions/scalable/sort-listitem.svg)
}

.btn-csv {
    background-image: url(/usr/share/icons/suru/actions/scalable/appointment-new.svg)
}

.btn-dark-mode {
    background-image: url(/usr/share/icons/suru/actions/scalable/night-mode.svg);
}

.btn-light-mode {
    background-image: url(/usr/share/icons/suru/status/scalable/display-brightness-min.svg);
}
