body {
    font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.bar {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: seagreen;
    color: white;
    z-index: 10;
}

.flex-container, .view-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back-button {
    display: flex;
    flex-direction: row;
}

#top-text {
    padding: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type=checkbox] {
    min-width: 26px;
    min-height: 36px;
}

button {
    font-size: 1rem;
    font-weight: 300;
    padding: 8px 24px 8px 24px
}

input, select {
    font-size: 1rem;
    font-weight: 300;
    padding: 8px;
}

textarea {
    min-height: 60px;
    font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal {
    position: fixed;
    max-width: 40%;
    min-width: 300px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #444444;
    padding: 22px 12px 12px 12px;
    transition: 0.3s;
    z-index: 20;
}

#modal-prompt {
    margin-bottom: 12px;
}

.modal-button-bar {
    text-align: right;
    margin-top: 22px;
}

.modal-field {
    margin-bottom: 12px;
}

.long-input {
    width: calc(100% - 18px);
}

.listview {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.listview-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    cursor: default;
}

.listview-item-text {
    flex-grow: 1;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.record-container {
    display: flex;
    flex-direction: row;
    padding: 2px 0 2px 0;
    border-bottom: 1px solid lightgray;
}

.record-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.record-cell {
    padding: 4px 8px 4px 8px;
}

.record-value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.table-header {
    font-weight: 800;
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-cell {
    padding: 4px 8px 4px 8px;
}

.icon {
    width: 16px;
    height: 16px;
}

.image-container {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
}