body {
    background-color: #333333;
    color: white;
}

.bar {
    background-color: darkgreen;
}

.btn {
    filter: brightness(2) !important;
    color: white !important;
}

.modal {
    background-color: #555555;
}

button {
    background-color: darkgreen;
    color: white;
    border: 1px solid seagreen;
    border-radius: 5px;
}

input, select {
    background-color: #333333;
    color: white;
}

textarea {
    background-color: #333333;
    color: white;
}
